//----------------------------------------------------------------------
//
// Variables
//
//----------------------------------------------------------------------

$pacnav-desktop-color: #000                                    !default;
$pacnav-desktop-font-size: 16px                                !default;
$pacnav-desktop-item-height: 40px                              !default;
$pacnav-desktop-item-margin: 40px                              !default;
$pacnav-desktop-line-height: 40px                              !default;
