//----------------------------------------------------------------------
//
// Dropdown
//
//----------------------------------------------------------------------

$pacnav-dropdown-background-color: #fff                        !default;
$pacnav-dropdown-color: #000                                   !default;
$pacnav-dropdown-font-size: 16px                               !default;
$pacnav-dropdown-icon-size: 48px                               !default;
$pacnav-dropdown-item-height: 24px                             !default;
$pacnav-dropdown-item-margin: 8px                              !default;
$pacnav-dropdown-line-height: 20px                             !default;
$pacnav-dropdown-offset: center                                !default;
$pacnav-dropdown-padding: 20px                                 !default;
$pacnav-dropdown-max-width: none                               !default;
$pacnav-dropdown-min-width: none                               !default;
$pacnav-dropdown-width: 160px                                  !default;
