//----------------------------------------------------------------------
//
// Mobile
//
//----------------------------------------------------------------------

$pacnav-mobile-background-color: #fff                          !default;
$pacnav-mobile-color: #000                                     !default;
$pacnav-mobile-font-size: 16px                                 !default;
$pacnav-mobile-item-height: 24px                               !default;
$pacnav-mobile-item-indent: 16px                               !default;
$pacnav-mobile-item-margin: 8px                                !default;
$pacnav-mobile-line-height: 20px                               !default;
$pacnav-mobile-padding: 20px                                   !default;
