%PacnavMobile {
	background-color: $pacnav-mobile-background-color;
	bottom: 0;
	display: none;
	left: 0;
	overflow: auto;
	padding: $pacnav-mobile-padding;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1000;
}

%PacnavMobile-ul,
%PacnavMobile-li {
	list-style: none;
	margin: 0;
	padding: 0;
}

%PacnavMobile-ul {
	@include margin(0 0 $pacnav-mobile-item-margin $pacnav-mobile-item-indent);
}

%PacnavMobile-li {
	@include color($pacnav-mobile-color);
	@include margin(0 0 $pacnav-mobile-item-margin);
	position: relative;
}

%PacnavMobile-a {
	@include color($pacnav-mobile-color);
	display: block;
	font-size: $pacnav-mobile-font-size;
	line-height: $pacnav-mobile-line-height;
	height: $pacnav-mobile-item-height;

	@include hover {
		@include color($pacnav-mobile-color);
	}
}

.is-mobile.is-active > %PacnavMobile {
	display: block;
}
