%Pacnav {
	@include responsive-property('height', $pacnav-desktop-item-height);
	align-items: center;
	display: flex;
	position: relative;
	z-index: 20;
}

%Pacnav-ul,
%Pacnav-li {
	list-style: none;
	margin: 0;
	padding: 0;
}

%Pacnav-ul {
	align-items: center;
	display: flex;
	justify-content: flex-end;
}

%Pacnav-li {
	@include responsive-property('height', $pacnav-desktop-item-height);
	@include responsive-property('margin-left', $pacnav-desktop-item-margin);
	align-items: center;
	align-self: stretch;
	display: flex;
	position: relative;

	&:first-child {
		margin-left: 0;
	}
}

%Pacnav-a {
	@include color($pacnav-desktop-color);
	@include responsive-property('font-size', $pacnav-desktop-font-size);
	@include responsive-property('line-height', $pacnav-desktop-line-height);
	display: block;
}

.has-children > %Pacnav-a:not([class]) {
	padding-right: _(2x);
	position: relative;
}

%Pacnav--is-active {
	height: 100vh;
	overflow: hidden;
}
