%PacnavDropdown {
	$_pacnav-dropdown-max-width: unquote(inspect($pacnav-dropdown-max-width));
	$_pacnav-dropdown-min-width: unquote(inspect($pacnav-dropdown-min-width));
	$_pacnav-dropdown-offset: unquote(inspect($pacnav-dropdown-offset));
	$_pacnav-dropdown-width: unquote(inspect($pacnav-dropdown-width));

	@include background-color($pacnav-dropdown-background-color);
	@include responsive-property('padding', $pacnav-dropdown-padding);
	display: none;
	min-width: 160px;
	position: absolute;
	top: 100%;

	@if $_pacnav-dropdown-offset == center {
		left: 50%;
		transform: translate3d(-50%, 0, 0);
	} @else {
		left: $_pacnav-dropdown-offset;
	}

	@if $_pacnav-dropdown-width != auto {
		width: $_pacnav-dropdown-width;
	} @else {
		max-width: $_pacnav-dropdown-max-width;
		min-width: $_pacnav-dropdown-min-width;
	}

	:hover > & {
		display: block;
	}
}

%PacnavDropdown-icon {
	@include responsive-property('height', $pacnav-dropdown-icon-size);
	@include responsive-property('margin-right', $pacnav-dropdown-item-margin);
	@include responsive-property('width', $pacnav-dropdown-icon-size);
	display: flex;
	flex-shrink: 0;

	img {
		display: block;
		max-height: 100%;
		max-width: 100%;
	}
}

%PacnavDropdown-ul,
%PacnavDropdown-li {
	list-style: none;
	margin: 0;
	padding: 0;
}

%PacnavDropdown-ul {
	display: flex;
	flex-direction: column;
	width: 100%;
}

%PacnavDropdown-li {
	@include color($pacnav-dropdown-color);
	@include margin(0 0 $pacnav-dropdown-item-margin);
	display: block;
	position: relative;
}

%PacnavDropdown-a {
	@include color($pacnav-dropdown-color);
	@include responsive-property('font-size', $pacnav-dropdown-font-size);
	@include responsive-property('line-height', $pacnav-dropdown-line-height);
	@include responsive-property('height', $pacnav-dropdown-item-height);
	align-items: center;
	display: flex;
	width: 100%;

	@include hover {
		@include color($pacnav-dropdown-color);
	}
}
