.PacnavToggle {
	$_pacnav-toggle-size: unquote(inspect($pacnav-toggle-size));
	cursor: pointer;
	display: flex;
	min-height: $_pacnav-toggle-size;
	position: relative;
	width: $_pacnav-toggle-size;

	svg {
		display: block;
		height: $_pacnav-toggle-size;
		margin: auto;
		width: $_pacnav-toggle-size;
	}

	&-lines {
		@include transition(fill slow);
	}

	&-lines,
	&-line1,
	&-line2,
	&-line3,
	&-line4 {
		animation-duration: 0.8s;
		animation-iteration-count: 1;
	}

	&-lines {
		@include transition(fill slow, opacity normal, transform normal);
		transform-origin: 10px 10px;
	}

	&-line1,
	&-line2,
	&-line3,
	&-line4 {
		@include transition(opacity normal, transform normal);
		transform-origin: 10px 10px;
	}

	&.is-active &-lines {
		transform: rotate(90deg);
	}

	&.is-active &-line1 {
		opacity: 0;
		transform: translate(0, 5px);
	}

	&.is-active &-line2 {
		transform: rotate(-45deg);
	}

	&.is-active &-line3 {
		transform: rotate(45deg);
	}

	&.is-active &-line4 {
		opacity: 0;
		transform: translate(0, -5px);
	}
}

.is-mobile.is-active .PacnavToggle {
	$_pacnav-toggle-size: unquote(inspect($pacnav-toggle-size));
	height: $_pacnav-toggle-size;
	position: fixed;
	right: $pacnav-mobile-padding;
	top: $pacnav-mobile-padding;
	z-index: 1001;
}
