.PacnavMobile {
	background: #fff;
	bottom: 0;
	display: none;
	left: 0;
	overflow: auto;
	padding: 40px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1000;
}

.is-mobile.is-active > .PacnavMobile {
	display: block;
}
