.PacnavMobile {
	background-color: $pacnav-mobile-background-color;
	bottom: 0;
	display: none;
	left: 0;
	overflow: auto;
	padding: $pacnav-mobile-padding;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1000;

	li {
		color: $pacnav-mobile-color;
		margin-bottom: $pacnav-mobile-item-margin;
		position: relative;

		&:last-child {
			margin-bottom: 0;
		}
	}

	li > ul {
		margin: $pacnav-mobile-item-margin 0 0 $pacnav-mobile-item-indent;
	}

	li > a {
		display: block;
		font-size: $pacnav-mobile-font-size;
		line-height: $pacnav-mobile-line-height;
		height: $pacnav-mobile-item-height;

		&,
		&:active,
		&:focus,
		&:hover {
			color: $pacnav-mobile-color;
		}
	}
}

.is-mobile.is-active > .PacnavMobile {
	display: block;
}
