.Pacnav {
	@extend %Pacnav !optional;

	> ul {
		@extend %Pacnav-ul !optional;
	}

	> ul > li {
		@extend %Pacnav-li !optional;
	}

	> ul > li > a,
	> ul > li > div:first-child {
		@extend %Pacnav-a !optional;
	}
}

pacnav {
	display: block;
	height: 0;
	overflow: hidden;
	width: 0;
}

.js pacnav,
.Pacnav:not(.is-mounted) {
	overflow: hidden;
	visibility: hidden;
}

.Pacnav--is-active {
	@extend %Pacnav--is-active !optional;
}
